files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID7DCCAtSgAwIBAgIJANrtVPk9eFinMA0GCSqGSIb3DQEBCwUAMIGKMQswCQYD
      VQQGEwJGUjEPMA0GA1UECAwGRnJhbmNlMQ4wDAYDVQQHDAVQYXJpczERMA8GA1UE
      CgwISW5zYW5pdXMxCzAJBgNVBAsMAkNvMREwDwYDVQQDDAhtbGUtZGFwcDEnMCUG
      CSqGSIb3DQEJARYYa25pZ2h0NDc0QHByb3Rvbm1haWwuY29tMB4XDTE4MDgyODEy
      MzYxMFoXDTI4MDgyNTEyMzYxMFowgYoxCzAJBgNVBAYTAkZSMQ8wDQYDVQQIDAZG
      cmFuY2UxDjAMBgNVBAcMBVBhcmlzMREwDwYDVQQKDAhJbnNhbml1czELMAkGA1UE
      CwwCQ28xETAPBgNVBAMMCG1sZS1kYXBwMScwJQYJKoZIhvcNAQkBFhhrbmlnaHQ0
      NzRAcHJvdG9ubWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
      AQCqDxoXNupXXdCa51wxF821RPCt92hBZRYRFq5J8+gdP4kXJiCrgYKK2w0eNacP
      qUxUHTOy+PXsWcgDyS96nxCiKNipOCQXVMLUsULS9PMP7WFHMq+qnNHf6zawd5M+
      vaABj4w65ncDVEy7aXV3pK/PlNleKSsqA/tQni2cr9knZ43+BdS13J6LHOJrOmk0
      OzMPv2JWvwCN+LyyBj0XCHicWnGKxXzkgL/tHzzHjidC/qrCayaZHcBEJshLGi/V
      UOmBBURUlDLNtdJFRm10AWVZgmXR4FoImKxoNrjoIFgjqgmgD8DCAIAwouWk821Z
      EkISqWqDwmB3FyLLb4QDfeEjAgMBAAGjUzBRMB0GA1UdDgQWBBSwCa1X/heiJfAN
      1o889YOXyL6vjTAfBgNVHSMEGDAWgBSwCa1X/heiJfAN1o889YOXyL6vjTAPBgNV
      HRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCn2kd11BYyrw05cnE9sHoW
      uWRY39vk3Z3usb7vxSmJCghcMtEQ+AXAFcz3PekkNHKtICVQmGRR2Z/ihuXAgP60
      37pninWy9moay8mmPDPNr37aHgRe4PT/yubmhj3vsKKlEFKuDVZoiwr4TeWSOEJg
      6+912xKWnW4L7CyESLMHw4zyvbqd+GM963bBhOMP8uqFcS+gevjsn7wmoc/+pXKw
      p+h8m8syLM9yjTTayDr0jKv4tBqWJdqiZ6j7p/DR6FrvgmsIprVjCrnRoavfHuMk
      6Wgvf9vTUXVXZYzbvirMtNTFz2Y/5j0zmfyvpO5aa75GitLY5MZKOHe5bKf/fRU9
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    content: |      
      -----BEGIN PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCqDxoXNupXXdCa
      51wxF821RPCt92hBZRYRFq5J8+gdP4kXJiCrgYKK2w0eNacPqUxUHTOy+PXsWcgD
      yS96nxCiKNipOCQXVMLUsULS9PMP7WFHMq+qnNHf6zawd5M+vaABj4w65ncDVEy7
      aXV3pK/PlNleKSsqA/tQni2cr9knZ43+BdS13J6LHOJrOmk0OzMPv2JWvwCN+Lyy
      Bj0XCHicWnGKxXzkgL/tHzzHjidC/qrCayaZHcBEJshLGi/VUOmBBURUlDLNtdJF
      Rm10AWVZgmXR4FoImKxoNrjoIFgjqgmgD8DCAIAwouWk821ZEkISqWqDwmB3FyLL
      b4QDfeEjAgMBAAECggEAA0enSStV+bllfJdZv9ilrwlVWwWajShV9J5rXiHGKEpB
      aqDhoG0vB16SMjL2teaeAkFN7fW/SH+yy9/leof22inPg/QBPjH0UAXbNBZlWblK
      VwUzPicoJRl0RJMJ0/v0ShNqsPgg8398u2CdU2FpwqcsShShMH5DKpriZlM97PSa
      S9LJrcie64DZyakFSAN9UuQ0MbijUAko2rLkpLEcvNwBzQB4eBALpndlVVGGOVtV
      cY3RkXfE3PMgerM4hklRrFbVzw20+xdDjVDglw48K5e/c46UStKEaDI/6W1YWhJG
      V4MkmPqjnxPKcZOn6NPa5XeNmrFZ0UoCdVwNmo5SAQKBgQDT1Bse5OEZgYC81MIx
      mzrr6vI3j8dFtwZZd/FWyWvsd3gWuQaVmA+f78HvaAumlOmUp+VpEMrViJ8CCj8c
      vP9NA7pHS1WVWest8MZUVbriPm2PWpH/fpersemXkn0tdPddSTyFETFWduBNJtx2
      vFo0c/nva64bjBWT4jexJiQa8QKBgQDNhT3ZWJ42bhyyCo8ddtHUbwYPpzRHqktS
      Pi70+DFSOcvxTGzIZ+HKauy8NzwdQtSE6UEOsI80Tvm2fa0N7dGelX5mx7jv7HNs
      UFzgbEkZa0zuGbrw8FIr6M0buqYMBAoVSy7BVjrJyHYiv0jj4aCdjfyhhnfPuZ+V
      hRBWYwl1UwKBgAv0tc8plfbtk0mVLJzGKS41pZQzPkkWCnq0RV/joH7JQ3Ls4I1C
      9ubNDoInujidwQ1N6Knkc75XprnjwCosFLDRHAt4Gg2C9L40D82kxRaN9XsY3pKw
      H3lmYkvWzc/qASg3wP21ubYqoYBZSCo/eUvqm9nClyIg5vrg0snh4DnRAoGAFMdd
      43WkOViUqiOLKK10tYesEzUSghRjnSMQWFAnnGqfhfv2G6T1HSQGX1kuSL8TAYUb
      wMJ1GBLMCHlYX8oloWT37KhQuGEtokvVuBL6qQlCM+iCEA4cILhe1GjglOJrqo95
      YK65LuGHoCe61N9g/8z1N9eCkYvw6IsVhcZplGUCgYBL6Bf76zmNOeDIk0PQ82e7
      pM1GmyErad//q40a5GFnJRUNwB6X6QJLpWb9xwHvcaysTYVo/nP2e7ms9dkT9kTS
      Lk/CEYSiw9NTrIcarKxfMCPH4C0gxVCHOxGTpmITMYlkCNAXXowLL/udGR0juYxu
      gC256mXONFX1FXnJ5kj+2A==
      -----END PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"