:
  /etc/pki/tls/certs/server.crt:
    content: |
      
  /etc/pki/tls/certs/server.key:
    content: |      
      -----BEGIN RSA PRIVATE KEY-----
      private key contents # See note below.
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    N CERTIFICATE-----
MIID7DCCAtSgAwIBAgIJANrtVPk9eFinMA0GCSqGSIb3DQEBCwUAMIGKMQswCQYD
VQQGEwJGUjEPMA0GA1UECAwGRnJhbmNlMQ4wDAYDVQQHDAVQYXJpczERMA8GA1UE
CgwISW5zYW5pdXMxCzAJBgNVBAsMAkNvMREwDwYDVQQDDAhtbGUtZGFwcDEnMCUG
CSqGSIb3DQEJARYYa25pZ2h0NDc0QHByb3Rvbm1haWwuY29tMB4XDTE4MDgyODEy
MzYxMFoXDTI4MDgyNTEyMzYxMFowgYoxCzAJBgNVBAYTAkZSMQ8wDQYDVQQIDAZG
cmFuY2UxDjAMBgNVBAcMBVBhcmlzMREwDwYDVQQKDAhJbnNhbml1czELMAkGA1UE
CwwCQ28xETAPBgNVBAMMCG1sZS1kYXBwMScwJQYJKoZIhvcNAQkBFhhrbmlnaHQ0
NzRAcHJvdG9ubWFpbC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIB
AQCqDxoXNupXXdCa51wxF821RPCt92hBZRYRFq5J8+gdP4kXJiCrgYKK2w0eNacP
qUxUHTOy+PXsWcgDyS96nxCiKNipOCQXVMLUsULS9PMP7WFHMq+qnNHf6zawd5M+
vaABj4w65ncDVEy7aXV3pK/PlNleKSsqA/tQni2cr9knZ43+BdS13J6LHOJrOmk0
OzMPv2JWvwCN+LyyBj0XCHicWnGKxXzkgL/tHzzHjidC/qrCayaZHcBEJshLGi/V
UOmBBURUlDLNtdJFRm10AWVZgmXR4FoImKxoNrjoIFgjqgmgD8DCAIAwouWk821Z
EkISqWqDwmB3FyLLb4QDfeEjAgMBAAGjUzBRMB0GA1UdDgQWBBSwCa1X/heiJfAN
1o889YOXyL6vjTAfBgNVHSMEGDAWgBSwCa1X/heiJfAN1o889YOXyL6vjTAPBgNV
HRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQCn2kd11BYyrw05cnE9sHoW
uWRY39vk3Z3usb7vxSmJCghcMtEQ+AXAFcz3PekkNHKtICVQmGRR2Z/ihuXAgP60
37pninWy9moay8mmPDPNr37aHgRe4PT/yubmhj3vsKKlEFKuDVZoiwr4TeWSOEJg
6+912xKWnW4L7CyESLMHw4zyvbqd+GM963bBhOMP8uqFcS+gevjsn7wmoc/+pXKw
p+h8m8syLM9yjTTayDr0jKv4tBqWJdqiZ6j7p/DR6FrvgmsIprVjCrnRoavfHuMk
6Wgvf9vTUXVXZYzbvirMtNTFz2Y/5j0zmfyvpO5aa75GitLY5MZKOHe5bKf/fRU9
-----END CERTIFICATE-----
command: "service nginx restart"
